*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../media/back/Airena\ wallapack\ 152\ \(27\).jpg);
    background-size: cover;
}
.container{         
    display: flex;
    background: white;
    width: 350px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #111;
    padding: 12px;
}
.container h1{
    margin: 10px;
    color: rgb(93, 0, 112);
}

.box{position: relative;
    width: 320px;
    height: 40px;
    margin: 15px;
}

.box input{
   
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: white;
    border: 2px solid #639;
    color: #639;
    padding: 3px 12px;
    font-size: 20px;
    /* box-shadow: inset 0 0px 7px #639; */


}
.box span {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: .5s;
    font-size: 20px;
    pointer-events: none;
    color: #639;


}

/* .box img{
    
        position: absolute;
        width: 30px;
        right: 5px;
        top: 5px;
        cursor: pointer;
    
} */

input:focus + span, input:valid + span{
    top: 0;
    left: 10px;
    font-size: 16px;
    color: #639;
    font-weight: bold;
    padding: 3px;
    background: white;
   

}

.container .btn{
    padding: 7px 42px;
    font-size: 20px;
    letter-spacing: 1.4px;
    border-radius: 10px;
    border: 1px solid #639;
    background: rgb(113, 44, 245);
    color: white;
    margin-left: 40px;
    transition: .3s;
}
.container .btn:hover{
    box-shadow: inset 0 0px 20px rgb(150, 7, 179);
    color: rgb(240, 253, 255);


}

.container .err{
    display: inline-block;
    margin: 15px;
    font-size: 10px;
    border: 1px solid red;
    color: white;
    border-radius: 3px;
    padding: 5px;
    background: rgb(252, 148, 148);
}

.btnLog{
    padding: 7px 42px;
    cursor: pointer;
    letter-spacing: 1.4px;
    border-radius: 10px;
    border: 1px solid #639;
    transition: .3s;
}

.btnLog:hover{
    background: #639;
   
}
.btnLog a{
    color: rgb(52, 7, 97);
    text-decoration: none;
    font-size: 20px;
    transition: .3s;
}
.btnLog:hover > a{
    color: white;
}
