<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">ChatApp</a></h1>
        <div style="float: right;">
<a href="{% url 'in' %}">Login</a>
<a href="{% url 'up' %}">Register</a>
<a href="{% url 'logout' %}">Logout</a>
        </div>
    </header>

    <div>
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>